<div class="row mb-4">
    <div class="col-lg-12">
        <div class="class-item p-4 text-center">

            <h4 class="mb-4">
                <i class="fa fa-bolt"></i> Acciones rápidas
            </h4>

            <div class="row justify-content-center">

                <div class="col-md-4 mb-3">
                    <a href="{% url 'perfil:mis_reservas' %}" class="primary-btn w-100">
                        <i class="fa fa-calendar"></i><br>
                        Mis reservas
                    </a>
                </div>

                <div class="col-md-4 mb-3">
                    <a href="{% url 'perfil:clases_disponibles' %}" class="primary-btn w-100">
                        <i class="fa fa-dumbbell"></i><br>
                        Clases disponibles
                    </a>
                </div>

                <div class="col-md-4 mb-3">
                    <a href="{% url 'perfil:cambiar_tarifa' %}" class="primary-btn w-100">
                        <i class="fa fa-exchange"></i><br>
                        Cambiar tarifa
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>
