{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Acceso{% endblock %} | PRYME</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" href="{% static 'img/logo-favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">

    
</head>

<body class="auth-bg">

    <div class="auth-wrapper">

        <div class="back-nav-global">
            <a href="/" class="btn-back">
                <span class="icon">←</span>
                <span class="text">VOLVER AL INICIO</span>
            </a>
        </div>

        {% block content %}
        {% endblock %}

    </div>

</body>

</html>