{% extends 'registration/base_auth.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>INICIAR <span>SESIÓN</span></h2>

    <form method="post" class="auth-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-pryme">ENTRAR AL ÁREA</button>
    </form>

    <div class="auth-links">
        <a href="{% url 'password_reset' %}">¿OLVIDASTE TU CONTRASEÑA?</a><br><br>
        <a href="{% url 'register' %}">¿NO TIENES CUENTA? ÚNETE AHORA</a>
    </div>
</div>
{% endblock %}